<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd"> 

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="Logger" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="log.log"/>
        <param name="encoding" value="UTF-8"/>
        <param name="maxBackupIndex" value="9"/>
        <param name="maxFileSize" value="1048576"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %c: %m%n"/>
        </layout>
    </appender>
    <root>
        <priority value="trace"/>
        <appender-ref ref="Logger"/>
    </root>
</log4j:configuration>